<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link ref="stylesheet" href="../static/css/style.css">

    <title>Create</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        <nav>
            <h1>{{ user.f_name }}</h1>
            <div>
                <a href="/dashboard" >Dashboard</a>
                <a href="" >Profile</a>
                <a href="/logout" >Logout</a>
            </div>
        </nav>
        <div>
            <form action="" method="POST">
                <h2>Create</h2>
                <div>
                    <label></label>
                    <input >
                </div>
                <button>Create</button>
            </form>
        </div>
    </div>
<!-- <script></script> -->
</body>
</html>