<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link ref="stylesheet" href="/static/css/..."> -->
    <title>Edit</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        <nav>
            <h1>{{ user.f_name }}</h1>
            <div>
                <a href="/dashboard" >Dashboard</a>
                <a href="" >Profile</a>
                <a href="/logout" >Logout</a>
                <a href="" >Create</a>
            </div>
        </nav>
        <div>
            <form action="" method="POST">
                <h2>Edit</h2>
                <div>
                    <label></label>
                    <input >
                </div>
                <button>Update</button>
            </form>
        </div>
    </div>
<!-- <script></script> -->
</body>
</html>